* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}
body {
    font-family: 'Be Vietnam Pro', sans-serif;
}
ul {
    list-style: none;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 4vh 0;
}
main {
    display: flex;
    flex-direction: column;
}

summary {
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
summary .titulo, summary p{
    display: flex;
    flex-direction: column;
}
aside {
    display: flex;
    justify-content: space-between;
    background-color: #F3613C;
    align-items: center;
    padding: 0 7vw 0 12vw;
}
footer {
    display: flex;
    justify-content: space-around;
    background-color: #1E1E26;
    padding: 3.75rem;
}

/*-------------------------------------------Clases------------------------------------------------*/
.hamburguesaMenu {
    display: none;
}
.areaPrincipal, .areaMedia, .areaFinal {
    margin-left: 7vw;
    margin-top: 3vh;    
    margin-right: 7vw;
}

.areaPrincipal, .areaMedia{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.seccion1, .articulo1 {
    display: flex;
    flex-direction: column;
    margin-left: 4vw;
    justify-content: space-around;
    
    
    
}
.seccionGraficos img {
    width: auto;
    height: auto;
}

.areaFinal {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 9vh;
    margin-bottom: 9vh;
}
.areaFinal div {
    margin-top: 6vh;
}

.menu {
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
}
.menu li {
    margin: 1rem;
}

.articulo1{
    display: flex;
    justify-content: flex-start;   
}

.articulo2 {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.articulo2 section {
    display: flex;
}

.beneficios {
    display: flex;
    flex-direction: column;
}

.boxesTestimonios{
    display: flex;
}
.boxesTestimonios img {
    height: 8vh;
}
.boxesTestimonios p{
    width: 20.5vw;
    height: 24vh;
    margin: 1vw;
}

.footerBox1, .footerBox2, .footerBox3, .footerBox4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footerBox2 .menuFooter a li, .footerBox3 .menuFooter a li  {
    margin-bottom:  1rem ;
}

.buscador {
    display: flex;
    justify-content: space-between;
}

/*------------------------------------------Botones------------------------------------------*/
.botonStart {
    display: flex;
    background-color: #F3603B;
    width: 134px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 0.8rem;
    font-weight: 500;
    color: #FFFFFF;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    
}
.botonLista {
    display: flex;
    background-color: #F3603B;
    width: 69px;
    height: 43px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 700;
    color: #FFFFFF;
}

.botonStartBlanco {
    display: flex;
    background-color: #FFFFFF;
    width: 134px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 0.8rem;
    font-weight: 500;
    color: #F3603B;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

.barraSearch {
    display: flex;
    background-color: #FFFFFF;
    width: 201px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 0.8rem;
    font-weight: 500;
    color: #A0A0A0;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}
.botonSearch {
    display: flex;
    background-color: #F3603B;
    width: 63px;
    height: 42px;
    margin-left: 10px;
    border-style: none;

    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 0.8rem;
    font-weight: 500;
    color: #FFFFFF;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}
.copyright p {
    display: flex;
    justify-content: flex-end ;
    font-weight: 500;
    font-size: 0.8rem;
    align-items: center;
    color: #8C8C94;
}
/*--------------------------------------Fuentes y tamanos------------------------------------------*/
.titulo {
    font-weight: 700;
}
h1 {
    font-size: 3.6rem;
    color: #232C50;
    margin-top: 0;
    display: flex;
    flex-direction: column;
}
h2 {
    margin-top: 0;
    font-size: 2.25rem;
    color: #232C50;
}
h3 {
    margin-top: 7vh;
    margin-bottom: 7vh;
}
h5 {
    margin-top: 1.5vh;
}
.areaFinal h3 {
    font-size: 2.5rem;
    color: #242E53;
}
aside h3 {
    font-size: 2.5rem;
    color: #FFFFFF;
}

/* Parrafos Oscuros*/
p {
    font-size: 1rem;
    font-weight: 500;
}
.areaMedia p {
    padding-top: 1rem;
}
.areaPrincipal p, .articulo1 p {
    color: black;
}

/*Parrafos Grises*/
.articulo2 p, .areaFinal p {
    color: #B9B9C1;

}

.footerBox1 .redSocial {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}

.menu a {
    font-size: 0.8rem;
    font-weight: 500;
    color: #242E52;
}
.menuFooter a{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
}


/*----------------------Background de la pagina y hovers botones----------------------*/
body{
    background-image: url(../imagenes/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position: 50vw -18vh;
}

.menu li:hover {
    transition: 0.5s;
    color: #8C8C94;
}

.menuFooter li:hover {
    transition: 0.5s;
    color: #F3613C;
}

.botonStart:hover, .botonSearch:hover {
    background-color: #F3603B;
    opacity: 0.8;
    box-shadow: 0px 4px 25px #F3603B;
    transition: 0.7s;
}
.botonStartBlanco:hover{
    background-color: #ffffff;
    color: #ffa692;
    box-shadow: 0px 4px 25px #c7c7c7c2;
    transition: 0.7s;
}

.carrousel {
    display: none;
}

/*para quitar subrayado a los hipervinculos con pseudo clases*/
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }




/*Media Query para diseño responsive, dispositivos pequeños */
@media (max-width:376px) {
/* tamaño de letra */
    p, .areaMedia p {
        font-size: 0.8rem;
    }
/*header*/
     nav .botonStart, .menu {
        display: none;
    } 
    .hamburguesaMenu {
        display: initial;
    }
/*main*/
    .areaPrincipal {
        flex-direction: column-reverse;
    }
    .areaMedia, .areaFinal {
        flex-direction: column;
        margin-top: 25vh;
    }
    .seccionGraficos img {
        width: 345px;
        height: auto;
    }

    .seccion1, .articulo1 {
        text-align: center;
        align-items: center;
        height: 20rem;
    }

    h1 {
        font-size: 2rem;
    }


/*carrousel de testimonios */
        .boxesTestimonios{
            display: none;
        }
        .carrousel{
            width: 100%;
            display: initial;
        }
        .conteCarrousel{
            width: 100%;
            height: 210px;
            overflow: hidden;
        }
            .conteCarrousel div {
                text-align: center;
            }
            .conteCarrousel div img {
                width: 100px;
            }
        .itemCarrousel{
            width: 100%;
            height: 100vh;
        }
        .itemCarrouselTarjeta{
            width: 100%;
            height: 100%;
        }
        #itemCarrousel-1{
            background-color: none;
        }
        #itemCarrousel-2{
            background-color: none;
        }
        #itemCarrousel-3{
            background-color: none;
        }
        .conteCarrouselController{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
        }
        .conteCarrouselController > a{
            text-decoration: none;
            font-size: 2em;
            color: grey;
        }
/* Fin Carrousel Testimonios */

/*aside*/
    aside {
        flex-direction: column;
        text-align: center;
        padding: 16vh 7vw 16vh 12vw;
    }
    
/*footer*/
    .footerBox1 {
        flex-direction: column-reverse;
        height: 40vh;
        justify-content: space-evenly;
    }
    footer {
    flex-direction: column-reverse;
    position: relative; /*para poder mover el .copyright al fondo de la caja */
    }
    .barraSearch {
        margin-bottom: 60px;
    }
    .copyright {
        bottom: 0;
        position: absolute;
        margin-bottom: 2rem;
    }
}